/*documento CSS*/
* {margin:3px;
    padding:0; 
  }
  
  section,div,a {box-sizing: border box;}


  .cabecera {text-align: center;
    font-size:3em;
    padding-bottom:15px ;
    background-color: blueviolet;
  }

  .h2{text-align: center;
  font-size: larger
  paddig: bottom 20px;
  background-color: blueviolet;
  }

  .imagen {text-align: left;
    padding-bottom: 20px;
  }

  .item list {font-size:12em ;
              width: 50%;
              text-align: right;
              height: 14px;
              color: rgba(140, 52, 222, 0.693);
              border: radious 300px;
              justify-content: space-between;
  }

  .container{display: flex;
             margin: auto;
             width:50%;
             min-height: 1px;
             flex-direction: row;
             flex-wrap: wrap;

  }

  .pie{font-size: 6em;
    width: 50%;
    text-align: center;
    color: azure;
    border-radius: 14px;
    height: 50px;
    width: 50px;
    padding: top 140px;
    background-color: blueviolet;
    margin-top:8px; }

    }